<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
  <script th:src="@{/resources/js/controllers.js}"></script>
  <title>도서 상세 정보</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <th:block th:if="${book.fileName != null}">
        <img th:src="@{/images/${book.fileName}}" style="width: 100%" alt="Book Image"/>

      </th:block>
      <th:block th:if="${book.fileName == null}">
        <img th:src="@{/images/${book.fileName}}" style="width: 100%" alt="No Image"/>

      </th:block>
    </div>
    <div class="col-md-8">
      <h3 th:text="${book.name}"></h3>
      <p th:text="${book.description}"></p>
      <br>
      <p><b>도서코드 : </b><span class="badge badge-info" th:text="${book.bookId}"></span></p>
      <p><b>저자</b> : <span th:text="${book.author}"></span></p>
      <p><b>출판사</b> : <span th:text="${book.publisher}"></span></p>
      <p><b>출판일</b> : <span th:text="${book.releaseDate}"></span></p>
      <p><b>분류</b> : <span th:text="${book.category}"></span></p>
      <p><b>재고수</b> : <span th:text="${book.unitsInStock}"></span></p>
      <h4 th:text="${#numbers.formatInteger(book.unitPrice, 0, 'COMMA') + '원'}"></h4>
      <br>
      <form th:action="@{/cart/add/{bookId}(bookId=${book.bookId})}" method="post">
        <button type="submit" class="btn btn-primary">도서주문 &raquo;</button>
        <a th:href="@{/cart}" class="btn btn-warning">장바구니 &raquo;</a>
        <a th:href="@{/books}" class="btn btn-secondary">도서 목록 &raquo;</a>

        <th:block sec:authorize="isAuthenticated()">
          <a th:href="@{/books/update(id=${book.bookId})}" class="btn btn-success">수정 &raquo;</a>
          <a href="#" th:onclick="'javascript:deleteConfirm(\'' + ${book.bookId} + '\');'" class="btn btn-danger">삭제 &raquo;</a>
        </th:block>
      </form>
    </div>
  </div>
</div>
</body>
</html>
