<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>결제 확인</h4>
        </div>
    </div>
    <form th:action="@{/payment/complete}" th:object="${itemBuyForm}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="userId" class="form-label">사용자ID</label>
            <div th:text="${itemBuyForm.userId}" class="form-control-plaintext"></div>
        </div>
        <div class="mb-3">
            <label for="number" class="form-label">전화번호</label>
            <div th:text="${itemBuyForm.number}" class="form-control-plaintext"></div>
        </div>
        <div class="mb-3">
            <label for="delivery" class="form-label">배송지</label>
            <div th:text="${itemBuyForm.delivery}" class="form-control-plaintext"></div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <div th:text="${itemBuyForm.email}" class="form-control-plaintext"></div>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">총 결제 금액</label>
            <div th:text="${itemBuyForm.price}"  class="form-control-plaintext"></div>
        </div>
        <div class="mb-3">
            <label for="paymentMethod" class="form-label">결제 수단</label>
            <select th:field="*{paymentMethod}" class="form-select">
                <option value="" disabled>결제 수단을 선택하세요</option>
                <option value="creditCard">신용카드</option>
                <option value="bankTransfer">계좌이체</option>
                <option value="mobilePayment">휴대폰 결제</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">결제하기</button>
        <a href="@{/buy/cancel}" class="btn btn-danger">취소하기</a>
    </form>
</div>

</html>
