<!DOCTYPE html>
<html layout:decorate="~{layout}">

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Welcome to Book Market</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<th:block layout:fragment="content">
<div class="jumbotron" align="center">
    <div class="container">
        <h1 class="display-3">Welcome to Book Market</h1>
        <p>최고의 책을 찾아보세요!</p>
    </div>
</div>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 th:text="${strapline}">Welcome message goes here.</h3>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="container">
    <hr>
    <p>&copy; Book Market 2025</p>
</footer>
</th:block>
</body>
</html>
