<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>결제가 완료되었습니다!</h4>
        </div>
    </div>
    <div class="alert alert-success" role="alert">
        결제가 성공적으로 처리되었습니다. 감사합니다!
    </div>
    <div class="mb-3">
        <label for="userId" class="form-label">사용자ID</label>
        <div th:text="${userId}" class="form-control-plaintext"></div>
    </div>
    <div class="mb-3">
        <label for="number" class="form-label">전화번호</label>
        <div th:text="${orderDTO.number}" class="form-control-plaintext"></div>
    </div>
    <div class="mb-3">
        <label for="delivery" class="form-label">배송지</label>
        <div th:text="${orderDTO.deliveryAddress}" class="form-control-plaintext"></div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">이메일</label>
        <div th:text="${orderDTO.email}" class="form-control-plaintext"></div>
    </div>
    <div class="mb-3">
        <label for="totalPrice" class="form-label">총 결제 금액</label>
        <div th:text="${orderDTO.totalPrice}"  class="form-control-plaintext"></div>
    </div>
    <div class="mb-3">
        <label for="paymentMethod" class="form-label">결제 수단</label>
        <div th:text="${orderDTO.paymentMethod}"  class="form-control-plaintext"></div>
    </div>

    <hr />
    <p>주문 내역은 마이페이지에서 확인하실 수 있습니다.</p>

    <!-- 버튼 -->
    <a href="/user/profile" class="btn btn-primary">주문 내역 보기</a>
    <a href="" class="btn btn-secondary">홈으로 이동</a>
</div>

</html>
