<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>도서 목록</title>
    <style>
        .btn-primary {
          white-space: nowrap;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container py-5">
        <form th:action="@{/books}" method="get" class="mb-4 d-flex">
            <input type="text" name="keyword" class="form-control me-2" placeholder="책 제목, 저자 검색" th:value="${keyword}">
            <select name="category" class="form-control me-2">
                <option value="" th:selected="${category == null or category == ''}">전체 카테고리</option>
                <option th:each="cat : ${categories}"
                        th:value="${cat.name()}"
                        th:text="${cat.name()}"
                        th:selected="${cat.name() == category}"></option>
            </select>

            <button type="submit" class="btn btn-primary px-3">검색</button>
        </form>
        <div class="row justify-content-center">

            <script th:if="${errorMessage != null}" th:inline="javascript">
                /*<![CDATA[*/
                alert(/*[[${#strings.escapeJavaScript(errorMessage)}]]*/);
                /*]]>*/
            </script>
            <th:block th:each="book : ${bookList}">
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-img-top-wrapper" style="height: 250px; overflow: hidden;">
                            <img th:src="${book.fileName != null and !book.fileName.isEmpty()} ? @{'/upload/' + ${book.fileName}} : @{'/images/no-image.png'}"
                                 class="card-img-top" alt="Book Image" style="object-fit: cover; width: 100%; height: 100%;">
                        </div>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title" th:text="${book.name}"></h5>
                            <p class="card-text">
                                <span th:text="${book.author}"></span><br>
                                <span th:text="${book.publisher} + ' | ' + ${book.releaseDate}"></span>
                            </p>
                            <p class="card-text" th:text="${book != null and book.description != null} ? ${#strings.abbreviate(book.description, 100)} : ''"></p>
                            <p class="card-text" th:text="${#numbers.formatInteger(book.unitPrice, 0, 'COMMA') + '원'}"></p>
                            <div class="mt-auto">
                                <a th:href="@{/books/book(id=${book.bookId})}" class="btn btn-secondary" role="button">상세정보 &raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
            <div th:if="${bookList == null or bookList.isEmpty()}" class="col-12 text-center">
                <p>등록된 도서가 없습니다.</p>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
