<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>도서 수정</title>
</head>
<body>
<div class="container">
    <div class="float-right" style="padding-right:30px">
        <a th:href="@{/books/edit(language='ko')}" >Korean</a>|<a th:href="@{/book/edit(language='en')}">English</a>
    </div>
    <br><br>
    <form th:action="@{/books/edit}" th:object="${EditBook}" method="post" class="form-horizontal" enctype="multipart/form-data">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <fieldset>
            <legend th:text="#{editBook.form.subtitle.label}"></legend>
            <div class="form-group row">
                <label class="col-sm-2 control-label" th:text="#{editBook.form.bookId.label}"></label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{bookId}" class="form-control"/>
                </div>
                <div class="col-sm-6">
                    <span th:if="${#fields.hasErrors('bookId')}" th:errors="*{bookId}" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label" th:text="#{editBook.form.name.label}"></label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{name}" class="form-control"/>
                </div>
                <div class="col-sm-6">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label" th:text="#{editBook.form.unitPrice.label}"></label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{unitPrice}" class="form-control"/>
                </div>
                <div class="col-sm-6">
                    <span th:if="${#fields.hasErrors('unitPrice')}" th:errors="*{unitPrice}" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label" th:text="#{editBook.form.author.label}"></label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{author}" class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label" th:text="#{editBook.form.description.label}"></label>
                <div class="col-sm-5">
                    <textarea th:field="*{description}" cols="50" rows="2" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label" th:text="#{editBook.form.publisher.label}"></label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{publisher}" class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label" th:text="#{editBook.form.category.label}"></label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{category}" class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label" th:text="#{editBook.form.unitsInStock.label}"></label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{unitsInStock}" class="form-control"/>
                </div>
                <div class="col-sm-6">
                    <span th:if="${#fields.hasErrors('unitsInStock')}" th:errors="*{unitsInStock}" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label" th:text="#{editBook.form.releaseDate.label}"></label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{releaseDate}" class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label" th:text="#{editBook.form.condition.label}"></label>
                <div class="col-sm-3">
                    <input type="radio" th:field="*{condition}" value="상" /> 상
                    <input type="radio" th:field="*{condition}" value="중" /> 중
                    <input type="radio" th:field="*{condition}" value="하" />하
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label" th:text="#{editBook.form.bookImage.label}"></label>
                <div class="col-sm-7">
                    <input type="file" name="bookImage" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-primary" th:value="#{editBook.form.button.label}" />
                </div>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>
